.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 100%;
}

.icon {
  font-size: 25px;
  margin-right: 10px;
}

.icon:hover {
  cursor: pointer;
}
