#root {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* aria-hiiden error */
.MuiDrawer-root {
  z-index: 1300;
}

.MuiBackdrop-root {
  z-index: 1299;
}
